extends layouts/main

block content
		if errorMessage
				span=errorMessage
    .form-container   
        form(action=routes.join, method="post")
            input(type="text", name="name", placeholder="Full Name", required=true)
            input(type="text", name="username", placeholder="Username", required=true)
            input(type="email", name="email", placeholder="Email", required=true)
            input(type="password", name="password", placeholder="Password", required=true)
            input(type="password", name="password2", placeholder="Confirm Password", required=true)

						input(type="text", name="location", placeholder="Location")
            input(type="submit", value="Join")
        include partials/socialLogin
		hr
		div
      span Already have an account?
      a(href="/login")
          h3 Login