//- mixin is like a function
mixin videoBlock(video = {})
    div
        a(href=routes.videoDetail(video.id))
            video(src=video.videoFile, controls=true)
            h4= video.title
            h6= video.views