header
    
    span 
        a(href=routes.home)
            i.fab.fa-youtube.fa-3x 
    span.header=pageTitle
    nav
        ul
            if !loggedIn
                li
                    a(href=routes.join) Join
                li
                    a(href=routes.login) login
            else
                li
                    a(href=`/videos/upload`) Upload
                li
                    a(href=`/users/${loggedInUser._id}`) My Profile
                li
                    a(href=`/users/edit`) Edit Profile
                li
                    a(href=`/users/logout`) Logout