header
    
    a(href=routes.home)
        i.fab.fa-youtube
    h1=pageTitle
    nav
        ul
            if !user.isAuthenticated
                li
                    a(href=routes.join) Join
                li
                    a(href=routes.login) login
                li
                    a(href=`/videos${routes.upload}`) Upload
            else
                li
                    a(href=`/videos${routes.upload}`) Upload
                li
                    a(href=routes.userDetail(user.id)) Profile
                li
                    a(href=routes.logout) Logout